body {
	background-color: beige;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.header {
	float: left;
	background-color: goldenrod;
	color: whitesmoke;
	width: 100%;
}

.header i{
	margin-top: 20px;
	margin-right: 5px;
	margin-left: -15px;
	display: inline;
	float: right;
}

.header h1 {
	font-family: monospace;
	text-align: center;
}

.add {
	color: black;
	background-color:lightblue;
	border-style: solid;
	border-radius: 5px;
	border-color: lightcyan;
	text-align: center;
	display: inline-block;
	margin: 3%;
	width: 120px;
	height: 120px;
}

.add i{
	margin-top: 40px;
}

.add h2 {
	font-size: 75%;
	margin-left: 5px;
	margin-right: 5px;
}
