body {
	background-color: #000000;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.header {
	background-color: #2774c4;
	color: #FFFFFF;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.header h1 {
	text-align: center;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

.add {
	color: #FFFFFF;
	background-color:#000000;
	border-style: solid;
	border-radius: 5px;
	border-color: #FFFFFF;
	text-align: center;
	display: inline-block;
	margin: 5px;
}

.add h2 {
	font-size: 75%;
	margin-left: 5px;
	margin-right: 5px;
}