/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: black;
}

.head-bar {
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	height: 50px;
	padding: 1px;
}

.head-bar2 {
	background-color: black;
	color: white;
	text-shadow: 1px 1px black;
	text-align: left;
	padding: 4px;
	margin-bottom: 10px;
}
.back-button {
	height: 35px;
	width: 40px;
	border: 1px;
	border-color: white;
}

/*
	Albums
			*/
.contact-wrapper {
	width: 145px;
	text-align: center;
	display: inline-block;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
}

.albums-album-art {
	height: 130px;
	width: 130px;
	padding-left: 5px;
}

.contact-name {
	font-weight: bold;
	width: 145px;
	height: 19px;
	color: white;
}

.albums-artist-name {
	font-style: italic;
	text-align: center;
	width: 145px;
	color: black;
}

/*
	Songs
			*/
.songs-info-wrapper {
	width: 135px;
	text-align: center;
	display: inline-block;
	height: 120px;
	display: inline-block;
}

/* .search {
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin-right: 5px;
} */

.search {
	margin-bottom: 0px;
}

.search input[type=text] {
	width: 87%;
	display: inline-block;
	margin-left: 5px;
	font-size: 19px;
}

.search-button {
	display: inline;
	background: #ddd;
	cursor: pointer;
	padding: 0px;
	float: right;
	margin-right: 5px;
}

.search-button:hover {
	background: #ccc;
}

.songs-album-art {
	height: 140px;
	width: 140px;
	padding-left: 10px;
}

.contact_list_title {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	width: 145px;
	/* margin-bottom: 15px; */
	color: white;
}

.songs-artist-name {
	font-style: italic;
	text-align: left;
	width: 145px;
	padding-left: 10px;
	margin-bottom: 15px;
	color: white;
	font-size: 10px;
}

.songs-album-year {
	text-align: left;
	width: 145px;
	padding-left: 25px;
}

.songs-text-info {
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left: 2px;
	color: white;
}

.list-of-names {
	padding-left: 5px;
	list-style-type: none;
	margin-top: 5px;
}

/*
	Player
			*/
.player-album-art {
	height: 240px;
	width: 240px;
	margin: 10px;
	padding-left: 20px;
	padding-top: 20px;

}

.player-song-info {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color: #9f5cc4;
}

#player-song-name {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color: #696969;

}

.player-input {
	margin-left: 30px;
	width: 240px;
}

.player-time-elapsed{
	margin-left: 20px;
	width: 127px;
	display: inline-block;
}

.player-time-remaining{
	text-align: right;
	margin-right: 18px;
	width: 127px;
	display: inline-block;
}

.volume-bar {
	height: 6px;
	width: 24px;
	border: solid #000;
	border-width: 1px 1px;
	margin: 1px;
	display: inline-block;
	background-color: white;
	margin-bottom: 8px;

}


.volume-level {
	text-align: center;
	margin-top: 10px;
	padding-right: 20px;

}

.volume-rocker {
	width: 100px;
	margin-left: 30px;
	text-align: center;
	display: inline-block;


}

.player-controls{
	text-align: center;

}

#player-time {

}

#time-elapsed {

}

#time-total{

}
