body 
{
    background-image: url("images/iphoneOL.jpg");
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#screen 
{
    height: 530px;
    width: 300px;
    margin: 105px 23px;
    background-color: black;
}

.title
{
    text-align: center;
    padding: 30px;
}

form
{
    padding: 10px;
    position: absolute;
    top: 200px;
    font-family: 'Roboto', sans-serif;
    margin-left: 13px;
}

input
{
    font-family: 'Roboto', sans-serif;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    float: right;
}

input.name
{
    font-family: 'Roboto', sans-serif;
    width: 70px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

label
{
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    line-height: 3.3;
}

input.button
{
    font-family: 'Roboto', sans-serif;
    width: 30%;
    position: absolute;
    top: 280px;
    left: 150px;
}

.backimage img
{
    width:100%;
    position: relative;
}

#backbutton
{
    width: 80px;
    position: absolute;
    top: 495px;
    left: 80px;
    height: 17px;
}
